.menu{
    background-color: #fff;
    background-image: url(../images/background_menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
}

.menu__title{

}

.menu__subtitle{

}

.menu__cards{
    display: flex;
}


.card__list-item{

}

.card__title{

}

.card__list-divider{

}